
@{
    ViewBag.Title = "Rejestracja studenta - krok 2";
}

<br /> 
<br />
<br />
<p>
    <h2> Konto zostało utworzone</h2>
    Aby w pełni z niego korzystać, musisz je potwierdzić przez link z maila, który do Ciebie wysłaliśmy.
</p>