@{
    ViewBag.Title = "Rejestracja";
}

<br/>
        <div class="col-md-4 col-md-offset-5">
            <div style="color: black; text-align: center;">
                <h2>@ViewBag.Title</h2>
            </div>
            <div style="color: black; text-align: center;">
                <h4>Jestem</h4>
            </div>
            <div>                
                @Html.ActionLink("Studentem", "RegisterStudent", "Account", new
                {
                    @class = "btn btn-block btn-primary btn-blue"
                }) 
            </div>
            <br/>              
            <div>
                @Html.ActionLink("Pracownikiem", "RegisterEmployee", "Account", new
             {
                 @class = "btn btn-block btn-primary btn-md"
             })
            </div>
            <br/>
        </div>
    



