@{
    ViewBag.Title = "REJESTRACJA";
}

<br/>

        <div class="col-md-4" style="">
            <div style="color: black; text-align: center;">
                <h3><b>@ViewBag.Title</b></h3>
            </div>
            <br/>
            <div style="color: black; text-align: center;">
                <h4><b>Jestem: </b></h4>
            </div>
            <br/>
            <div>                
                @Html.ActionLink("Studentem", "RegisterStudent", "Account", new
                {
                    @class = "btn btn-block btn-default btn-md"
                }) 
            </div>
            <br/>              
            <div>
                @Html.ActionLink("Pracownikiem", "RegisterEmployee", "Account", new
             {
                 @class = "btn btn-block btn-default btn-md"
             })
            </div>

            <br/>
        </div>
    



