
@{
    ViewBag.Title = "Rejestracja pracownika - krok 2";
}

<br />
<br />
<p>
    <center>
        <h2>Konto zostało utworzone</h2>
        <h4>Aby z niego korzystać, musisz poczekać, aż administrator je potwierdzi.</h4>
    </center> 
</p>