
@{
    ViewBag.Title = "Rejestracja studenta - krok 2";
}

<br /> 
<br />
<p>
    <center>
         <h2> Konto zostało utworzone</h2>
        <h4>Aby z niego korzystać, musisz je potwierdzić przez link z maila, który do Ciebie wysłaliśmy.</h4>
    </center>
</p>