@{
    ViewBag.Title = "Rejestracja";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Zarejestruj jako Student", "RegisterStudent", "Account")
</div>
<div>
    @Html.ActionLink("Zarejestruj jako pracownik", "RegisterEmployee", "Account")
</div>