################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/IdeaCreationManagement/Migrations/201706031752191_as.resx
/src/IdeaCreationManagement/Migrations/201706031752191_as.Designer.cs
/src/IdeaCreationManagement/Migrations/201706031752191_as.cs
