@{
    ViewBag.Title = "Strona główna";
}

<div class="row">
    
        
    <h3 align="center">
        <br/><br/>
        Masz pomysł jak ulepszyć naszą uczelnię?<br/>
        ...może jest coś, co Ci przeszkadza?<br/>
        Dobrze trafiłeś! Jesteśmy po to, żeby Ci pomóc!
    </h3>

        <img src="~/Content/Images/homesite_photo.jpg" />


</div>

