@model IEnumerable<IdeaCreationManagement.Models.Project>


@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Lista ocen";
}

<h2>Lista ocen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageGrade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "AllGradesDetails", "Grades", new { ProjectId = item.Id }, null)
            </td>
            <td>
                @if (String.Compare(item.Type.ToString(), "Pomysł") == 0)
                {
                            <div class="row">
                            
                                 @for (var i = 1; i <= item.AverageGrade; i++)
                                {
                                    <span class="starGlow"></span>
                                }
                                @for (var i = (item.AverageGrade + 1); i <= 5; i++)
                                {
                                    <span class="starFade"></span>
                                }
                             </div>
                   
                }
            </td>
        </tr>
    }

</table>




