<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Idea Creation Management</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <h3  style="color: red; padding-left: 270px" > O Projekcie
        </h3>
        <ul class="nav navbar-nav">
            <li>
                <p></p><p align="center"; style="color: black";style="font-size: 11px">
                    Projekt "Innowacje PRz" to autorski System Kreacji Pomysłów stworzony przez<br />
                    studentów Wydziału Zarządzania oraz Elektrotechniki i Informatyki.<br /><br />

                    Celem projektu jest wspomaganie i poprawa komunikacji pomiędzy <br />
                    pracownikami uczelni, a studentami.<br /><br />

                    Każdy student oraz pracownik Politechniki Rzeszowskiej może podzielić się<br />
                    swoim pomysłem poprzez naszą stronę i/lub zgłosić problem<br />
                    związany z funkcjonowaniem naszej uczelni.<br /><br />

                    Aby pomysły/problemy się nie powtarzały została stworzona ich baza,<br />
                    gdzie można zobaczyć na jakim etapie odbywa się ich realizacja.<br />
                    (oczekujący,przydzielony,problem rozwiązany/nierozwiązany , pomysł niezrealizowany/ zrealizowany).<br /><br />

                    Przez cały semestr odbywać się bedzie ocena zgłoszonych pomysłów przez użytkowników strony<br />
                    (przedział ocen 1-5 gwiazdek według rożnych kryteriów).<br />
                    Zwycięzca głosowania ma szanse wygrać atrakcyjne nagrody.<br /><br /><br /><br />


          
            <li><p></p><p><img src="~/Content/Images/logowydzialow.png" height="440" width="240" /></p></li>
     




        </ul>

        <ul class="nav navbar-nav">
            <li>
                <p></p><p align="center" style="color: red; padding-left: 50px">

                    "Najważniejszy jest pomysł. Bez niego ani rusz.<br />
                    Potem potrzebna jest pewna doza inteligencji i konsekwencja, by go urzeczywistnić."<br />
                    ~Gunter Fritz


            <li><p></p><p><img src="~/Content/Images/ludzik.jpg" height="150" width="150" /></p></li>
           




        </ul>
</body>