@model IdeaCreationManagement.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.Details.Name + " " + Model.Details.Surname;
}

<h2>@ViewBag.Title - kasowanie</h2>

@using (Html.BeginForm("DeleteConfirm", "Users", FormMethod.Post))
{
    <p>
        Czy na pewno skasować poniższego użytkownika? <br />
        <input type="submit" value="Tak" class="btn btn-success"/>
        <input type="hidden" name="id" value="@Model.Details.Id"/>
        @Html.ActionLink("Nie", "Index",null, new { @class = "btn btn-default btn-danger" })
    </p>
} 


@Html.Partial("DetailsOnly", Model)
