@model IdeaCreationManagement.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.Details.Name + " " + Model.Details.Surname;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("UserDetails", Model.Details)

@if (Model.CreatedProjects.Count > 0)
{
    <h4>Utworzone projekty</h4>

    @Html.Partial("UserProjects", Model.CreatedProjects)
}

@if (Model.AssignedProjects.Count > 0)
{
    <h4>Przypisane projekty</h4>

    @Html.Partial("UserProjects", Model.AssignedProjects)
}
