@model IdeaCreationManagement.ViewModels.UserDetailsViewModel

@Html.Partial("UserDetails", Model.Details)

@if (Model.CreatedProjects.Count > 0)
{
    <h4>Utworzone projekty</h4>

    <!--@(ViewBag.ProjectsType = "created");-->
    @Html.Partial("UserProjects", Model.CreatedProjects)
}

@if (Model.AssignedProjects.Count > 0)
{
    <h4>Przypisane projekty</h4>

    <!--@(ViewBag.ProjectsType = "assigned");-->
    @Html.Partial("UserProjects", Model.AssignedProjects)
}
