@model IdeaCreationManagement.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.Details.Name + " " + Model.Details.Surname;
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info disappearing">
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    </div>
}

<h2>@ViewBag.Title</h2>

@Html.Partial("DetailsOnly", Model)
