@model IdeaCreationManagement.Models.Alert

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie powiadomienia</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <h4>Czy na pewno chcesz usunąć dane powiadomienia?</h4>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Wróć", "Index") |   
            <input type="submit" value="Usuń" class="btn btn-default" />
        </div>
    }
</div>

